algos/
cert-tool/
DataAnalytics/
DataIngestionLib/
docker_setup/
FactoryControlApp/
ImageStore
kapacitor/
licenses/
InfluxDBConnector/
StreamSubLib/
test_videos/
VideoIngestion/
basler-source-plugin/
.git

# Recursively remove all unwanted files
**/*.md
**/*.mp4
**/*.avi
**/*.pyc
**/*.tar
**/*.log
**/*.log.*
